<!DOCTYPE HTML>
<html ng-app="myApp">
	<head>
		<script type="text/javascript" src="/lib/jquery-3.0.0.js"></script>	
		<script type="text/javascript" src="/lib/angular.js"></script>
		<script type="text/javascript" src="/lib/Bootstrapv3.0.2/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/lib/Bootstrapv3.0.2/css/bootstrap.css"></link>
		<link rel="stylesheet" href="/lib/Bootstrapv3.0.2/css/bootstrap-theme.css"></link>	

		<script type="text/javaScript">
			angular.module("myApp",[]);
			angular.module("myApp").controller("myCtrl",myCtrl);
			angular.module("myApp").directive("iterateMe",iterateMe);							

			myCtrl.$inject = ["$scope"]

			function myCtrl($scope){
				var vm = this;
				vm.nm = "";
				vm.add = add;
				$scope.message = "Directive Practise 01";
				vm.names = [];				

				function add(){
					vm.names.push(vm.nm);
					vm.nm = "";
				}
			}	


			function iterateMe(){
				var obj = {};
				obj.template = "<ul><li ng-repeat='name in vm.names'>{{name}}</li></ul>";
				return obj;
			}
		</script>
	</head>
	<body ng-controller="myCtrl as vm" ng-cloak="">
		<div class="container">
			<div class="page-header">
				<h3>{{message}}</h3>	
			</div>
			<div class="row">
				<div class="col-md-2">
					<input type="text" class="form-control" ng-model="vm.nm" />
				</div>
				<div class="col-md-1">
					<button type="button" ng-click="vm.add()" class="btn btn-primary">Add</button>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<iterate-me />
				</div>
			</div>
		</div>			
	</body>
</html>